
html {
    margin: 2.5%;
}


ul, li {
  font-size: 12px;
  

}

.nav {
    width: 25%;
    list-style: none;
    position: fixed;
}

.container {
    width: 75%;
    display: inline;
    float: right;
}

img {
    width: 100%;
}

.container-1 {
    display: flex;
    width: 50%;
    display: inline;
    float: right;
    padding: 
}


